<div class="container">
<% @articles.each do |a| %>
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    <% if a.user %>
                        by <%= link_to a.user.username, user_path(a.user) %>
                    <% end %>
                    <% if a.categories.any? %>
                        <div class="mt-2">
                            <%# look at the category views file, rails know it and already sees the partial! %>
                            <%= render a.categories %>
                        </div>
                    <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to a.title, article_path(a), class: "text-success"  %></h5>
                    <p class="card-text"><%= truncate(a.description, length: 100) %></p>
                    <%= link_to "View", article_path(a), class: "btn btn-outline-success" %>
                    
                    <% if logged_in? && (a.user == current_user || current_user.admin?)%>
                        <%= link_to "Edit", edit_article_path(a), class: "btn btn-outline-info" %>
                        <%= link_to "Delete", article_path(a), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(a.created_at) %> ago, 
                            Edit <%= time_ago_in_words(a.updated_at) %> ago
                    </small>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>